body{
font-family:Arial;
font-size:16px;
}

header{
background-color:lightblue;
}

nav{
background-color:lightgray;
}

main{
background-color:#eeeeee;
font-size:18px;
}

footer{
background-color:lightblue;
}

li{
display:inline-block;
width:100px;
}

h1{
text-align:center;
font-family:Verdana;
color:blue;
}

p{
line-height:1.5;
}
